@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat";

}

html {
  scroll-behavior: smooth;
}
body{
  background-color: black;
}

#inicio {
  background-image: url("./images/fondo-inicio2.jpg");

  height: 100vh;
  background-size: cover;
  background-position: center, center;
}

#inicio .contenido header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

#inicio .contenido header .contenido-header {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
#inicio .contenido header .contenido-header h1{
  font-size: 20px;
  justify-content: center;
  color: #d96c80;
}

#inicio .contenido header .contenido-header p a{
  font-size: 20px;
  justify-content: center;
  color: #d96c80;
  text-decoration: none;
}

#inicio .contenido header .contenido-header .redes a {
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  color: white;
  font-size: 20px;
  transition: 0.5s;
}
#inicio .contenido header .contenido-header .redes a:hover {
  color: #d96c80;
}

#inicio .contenido header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0px 12px;
  font-weight: 400px;
  transition: 0.5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
  color: #d96c80;
}
#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  columns: white;
  align-items: center;
  justify-content: center;
  color: white;
}
#inicio .contenido .presentacion .bienvenida {
  font-size: 26px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}
#inicio .contenido .presentacion h1 {
  font-size: 45px;
  margin-bottom: 25px;
  text-align: center;
}

#inicio .contenido .presentacion h1 span {
  font-size: 50px;
  color: #d96c80;
}

#inicio .contenido .presentacion h2 {
  font-size: 45px;
  margin-bottom: 25px;
  text-align: center;
}

#inicio .contenido .presentacion h2 span {
  font-size: 50px;
  color: #d96c80;
}

#inicio .contenido .presentacion .descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#inicio .contenido .presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.5s;
}

#inicio .contenido .presentacion a:hover {
  background-color: #d96c80;
}
#icono-nav {
  color: white;
  display: none;
}

#sobre-mi {
  /* max-width: 1100px; */
  margin: auto;
  padding: 100px 100px;
  color: #f3f3f3;
  background-color: black;
  display: inline-flex;
  flex-direction: row;
}

#sobre-mi .contenedor-foto {
  max-width: 300px;
  margin-right: 80px;
}

#sobre-mi .contenedor-foto img {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: #f3f3f3;
  margin-left: 40px;
}

#sobre-mi .sobre-mi {
  margin: 0px 40px;
}
#sobre-mi .sobre-mi .titulo-seccion{
  display: flex;
  justify-content: flex-start;
}

#sobre-mi .sobre-mi .titulo-seccion p{
  font-size: 25px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  border-top: 2px solid #d96c80;
  color: #d96c80;
  width: fit-content;
  padding: 2px;
  margin: 10px;
}

#sobre-mi .sobre-mi h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0px;
  letter-spacing: 2px;
}

#sobre-mi .sobre-mi h2 span {
  color: #d96c80;
}

#sobre-mi .sobre-mi h3 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#sobre-mi .sobre-mi p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 12px;
  color: white;
}

#sobre-mi .sobre-mi a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 30px;
  border: 1px solid #000;
  margin-top: 30px;
  transition: 0.5s;
}

#sobre-mi .sobre-mi a:hover {
  background-color: #d96c80;
}

/* seccion S E R V I C I O S */
/* *********************/

#servicios {
  padding: 100px 15px;
  text-align: center;
  background-image: url("./images/fondo-inicio2.jpg");
  width: 100%;
}
#servicios .div-titulo-seccion{
    display: flex;
    justify-content: center;
}
 
#servicios .titulo-seccion {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
   border-bottom: 2px solid;
  border-top: 2px solid #d96c80;
  color: #d96c80;
  width: fit-content;
  padding: 2px;
  margin: 10px;
}


#servicios .fila {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: 30px auto;
}

#servicios .fila .servicio {
  max-width: 350px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.571);
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: 5px 5px 10px #6d6b6b, -5px -5px 10px #858484;
}

#servicios .fila .servicio:hover {
  box-shadow: 10px 10px 20px #807f7f, -10px -10px 20px #939393;
}

#servicios .fila .servicio .icono {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color:rgb(28, 28, 28);
  padding: 20px;
  margin-bottom: 25px;
}

#servicios .fila .servicio h4 {
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 8px;
  font-weight: 400;
  color: rgb(240, 238, 238);
}

#servicios .fila .servicio hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}

#servicios .fila .servicio ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
}
#servicios .fila .servicio li{
    margin: 5px 0px;
    font-size: 18px;
    font-weight: 200;
}

#servicios .fila .servicio p {
  font-size: 14px;
  line-height: 22px;
}

/* *********************/
/* seccion P O R T F O L I O */
/* *********************/

#portfolio {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
  background-color: black;
}

#portfolio .div-titulo-seccion{
  display: flex;
  justify-content: center;
}

#portfolio .titulo-seccion {
text-align: center;
font-size: 25px;
text-transform: uppercase;
 border-bottom: 2px solid;
border-top: 2px solid #d96c80;
color: #d96c80;
width: fit-content;
padding: 2px;
margin: 10px;
}

#portfolio .fila {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
}

#portfolio .fila .proyecto {
  max-width: 450px;
  border: 1px solid #000;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px #4f4e4e;
}
#portfolio .fila .proyecto:hover{
  box-shadow: 0px 0px 25px 10px #686868;
  cursor: pointer;
}

#portfolio .fila .proyecto img {
  width: 100%;
  height: 100%;
  filter: grayscale(0);
  object-fit: cover;
  transition: 0.5s;
}
#portfolio .fila .proyecto video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

#portfolio .fila .proyecto:hover img {
  filter: grayscale(0);

}

#portfolio .fila .proyecto .info {
  position: absolute;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #d96c80;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: 0.5s;
}
#portfolio .fila .proyecto .info p {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
#portfolio .fila .proyecto .info a {
  color: #d96c80;
  font-size: 12px;
  line-height: 20px;
  margin-right: 15px;
}

#portfolio .fila .proyecto:hover .info {
  opacity: 1;
  bottom: 0;
}

footer {
  margin-top: 80px;
  background-image: url("./images/fondo-inicio2.jpg");
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
footer .redes-footer .titulo-seccion {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 40px;
}
footer .redes-footer .titulo-seccion h3 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
   border-bottom: 2px solid  #d96c80;
  border-top: 2px solid #d96c80;
  color: #d96c80;
  width: fit-content;
  padding: 2px;
  margin: 10px;
  font-weight: 400;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}
footer .redes-footer a{
  text-decoration: none;
  display: inline-block;
  margin: 15px;
  color: white;
  font-size: 25px;
  transition: 0.5s;
  margin-bottom: 80px;
}
footer .redes-footer p{
  margin-bottom: 130px;
  padding-left: 15px;

}
footer .redes-footer p i{
  margin-right: 6px;
  margin-left: -10px;
  font-size: 20px;
}


/* *********************/
/* R E S P O N S I V E */
/* *********************/

@media only screen and (max-width: 700px) {
  .redes {
    display: none;
  }
  nav {
    display: none;
  }
  nav.responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 0;
  }
  nav.responsive ul {
    display: block !important;
    text-align: center;
  }
  nav.responsive ul li {
    margin: 5px 0;
  }
  #icono-nav {
    display: block;
  }
  #inicio .contenido .presentacion{
    margin: 0px 15px;
  }
  #inicio .contenido .presentacion h2 {
    font-size: 32px;
  }
  #inicio .contenido .presentacion h2 span{
    font-size: 32px;
  }
  #inicio .contenido .presentacion #full-stack{
    font-size: 34px;
  }
  /* seccion SOBRE MI */
  #sobre-mi {
    display:flex;
    flex-direction: column;
    padding: 5px 5px;
    align-items: center;



  }
  #sobre-mi .contenedor-foto {
    width: 250px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    /* m˚ax-width: 200px; */

  }
  #sobre-mi .contenedor-foto img {
    padding: 8px;
  }

  #sobre-mi .sobre-mi .titulo-seccion{
  display: flex;
  justify-content: center;
  }
  #sobre-mi .sobre-mi .titulo-seccion p{
   text-align: center;
  }
  #sobre-mi .sobre-mi h2 {
    font-size: 16px;
    text-align: center;
  }
  #sobre-mi .sobre-mi h3 {
    text-align: center;
  }
  #sobre-mi .sobre-mi p{
    text-align: justify;
  }


  #servicios {
    padding: 50px 15px;
  }
  #servicios .fila {
    display: block;
  }
  #servicios .fila .servicio {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
  }
  #servicios .fila .servicio h4{
    font-size: 20px;
    margin-bottom: 2px;
  }
  #portfolio {
    padding: 50px 0;
  }
  #portfolio .fila {
    display: block;
    margin: 0px 30px;
  }
  #portfolio .fila .proyecto {
    margin: 20px auto;
  }
  
}
